<footer class="footer mt-auto">
  <div class="nav-container">
    <div class="container" style="display:inline-block; margin-right:5px;">
      <span>&copy; Troy est. 1987</span>
    </div>
    <div class="icons" style="display:inline-block;">
      <a href="https://www.instagram.com/famoustoto/"
        ><i class="fa fa-solid fa-camera-retro fa-lg"></i></a>
      <a href="https://cash.app/$lostapplesauce"
        ><i class="fa fa-solid fa-dollar-sign fa-lg"></i></a>
    </div>
  </div>
</footer>
