<footer class="footer mt-auto bt-1">
  <div class="container">
    <span style="float: left"> 
    &copy; Troy est. 1987 
    </span>

    <span class="icons" style="float: right">
      <a href="https://www.instagram.com/famoustoto/"
        ><i class="fa fa-solid fa-camera-retro fa-lg"></i
      ></a>
      <a href="https://cash.app/$lostapplesauce"
        ><i class="fa fa-solid fa-dollar-sign fa-lg"></i
      ></a>
    </span>
  </div>
</footer>
