<nav id="strip">
  <ul class="nav-menu">
    <li class="nav-item">
      <button class="nav-btn">
        <a
          href="http://www.linkedin.com/in/troy-turner1"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fa fa-brands fa-linkedin fa-lg"></i><br>LinkedIn</a
        >
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-btn">
        <a
          href="https://github.com/lostapplesauce"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fa fa-brands fa-github fa-lg"></i><br>github</a
        >
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-btn"><a href="/"><i class="fa fa-solid fa-igloo fa-lg"></i><br>home</a></button>
    </li>
    <li class="nav-item">
      <button class="nav-btn">
        <!-- <a href="aboutMe.html">About</a> -->
        <a href="/aboutMe"><i class="fa fa-solid fa-user-ninja fa-lg"></i><br>About</a>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-btn">
        <!-- <a href="willingWork.html">Willingness to work</a> -->
        <a href="/workDesire"><i class="fa fa-solid fa-briefcase fa-lg"></i><br>Work stuff</a>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-btn" id="color">Color</button>
    </li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>
