<nav id="strip">
  <ul class="nav-menu">
    <li class="nav-item">
      <button class="nav-btn">
        <a
          href="http://www.linkedin.com/in/troy-turner1"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-btn">
        <a
          href="https://github.com/lostapplesauce"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-btn" id="color"><a href="/">home</a></button>
    </li>
    <li class="nav-item">
      <button class="nav-btn">
        <!-- <a href="aboutMe.html">About</a> -->
        <a href="/aboutMe">About</a>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-btn">
        <!-- <a href="willingWork.html">Willingness to work</a> -->
        <a href="/workDesire">Willingness to work</a>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-btn" id="color">Color</button>
    </li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>
