<% layout('layout/boilerplate') %> 
<div class="aboutMe">
<div class="container">
    <div id="container">
        <div class="aboutCard">
            <p class="intro">Hello there, welcome to my personal portfolio site. <br />
                It has been a long journey to arrive to where I am at now.
                Have spent many years trying to figure out what I wanted to do.
                Finally while working at a dead table at a Casino I realized that
                I wanted to go back to school to finish up an education and pursue
                programming.
            </p>
        </div>
        <!-- add photos of traveling to this area  -->
        <div>
        </div>

        <div class="inline-block">
            <img class="tampaGame"
                src="https://lh3.googleusercontent.com/m8wABse9QYFYEfZEGouTHHjPeNCXsrQXHeRVhAt9OcFheU_zVWzSCzSvbd3QutLu4aCi2bA0PH_uWzX3MvgIROu3VjPL9A_-aUjDKwQEIl-VZrCaue61SXGZiirRwZgVVN3kCQwBSYH_MXdQyFGDQ5Tpykj1N08R8tRG3suDwXlci-NSuDsDtBq-4vP6nlXyw4XR5MTpuU80PShUvLfMrZQLfKqceFcC27F5XiJVx37W4dApT2hqDq64RkU2MZGNKFLSJNWw6FO9SftvwE9f0PbNNgUD0El3v73eov_mpmA9mkmcLBugs6maqNFjA2oRWFcIGF6xwyrkgv_HVKAMTKA4UW-dDvjabxFo960kN98Vpx7KWxJjxDtvhSFUwU_h8pahmKMqXxRexduyxnHuBO5PAtS62KOdVsOapkfzDs_JS3w9BIObIz56cxCb57fgG48WnHPiIr6OmYrQEcZlqbvAXK6swjTr7jfMnhjE8YBLYKjNsOI54RgK8BFNax9suYaypmYXQvCPCP0_ONhULmVaWgkKWH4i7ai1JZpMGKAzluT1nIDBy1NZWjU4X7jMZO7tUovD2WP_DlCqYB9HbdFCCahscVnuOoXDkRbDEUnH5LCJD2PXcoBqpKd6OkeERXv7uEXP0ofRJHaiH1vyAsYuSnuDNMsDxZ4HfExunmG3OBEE1AjqRlSheSKvMIxEwxIBIbI4ho14_rdADBBtT_0TCcHhGIiQ6M8Z72jbFvBt8GVQ9M9pPTCWEs2BAXV9xIpIha8Z7ByeKubY1Hj_Qp_swrUP4trTLGQtqg=w696-h1236-no?authuser=0.jpeg"
                alt="">
            <img src="outsideHPcafe.jpg" alt="">
            
            <!-- <img class="tampaGame" 
                src="https://lh3.googleusercontent.com/VOMdqRdpb3I8rX_6uDLDfSnPJsZR_i9xg82PbAYdvbFZPM2JIDQAxcMnEb3o7285TMeOGdZk_Og6Mc9Ze05Z0T6mx1plyehyafu3kDmpGREiOwN90hULtv34srnMKiFC8jv6qL8z_15Ka5j3j7Wq14oKwCiBqVqC-t5_2UTpUHMFg5wtBpanHYR7XS7x9gzxD_l3mT7XPyEC4vJTDfSaITwBRm56bPIs-tdT1azvKjoLH4Y87jpWT68_R1HKQ0GUfZLEfDXC6FCcBdv6aECbp3VlKau_rBIoKTntCXW9js8nFhoR_0r9iRQV1G6wO8DfVpuyBI0wtBqod1fTehLeYdJOAkxDnF7HZCS-_DZ2b5NBcZG-fORgtXhedBKiwSZQNOScL6grN_CE4N6zO2mkgOppzrKP35nEfKsIxDUpcupDBfSZa5Wyt9T9Esl28g4Jqd_3KFHCqx-lsbA-B0Qzu6ptfvqqJNyH2UUhdX0mXfMTb0rgV58JatDfDAXdUF0D0t0xwVCTiwYgl7STXKaQq66gInnHyREyOz7wgim98uVpRoi6uOoNh-cRtixl2QJUiWEX4trRIFRUZ50nHgTxt4bjCFJuHxsd1h8V0PEQ5b9_D3IbIuo2taqUkkeEtkqJtlL6IDJjiBNreSP7psAsWJmI7-gDTqZX_Cpmr5AQQD6ROBHkemooCirymdcPSSjA0QuLPK8g8W3cXikH3CLdBjCeByY6gvTEKXMWtmDsJrKyW_CJGt8f5aKLmnmw6x5sU0wWAZnYupUDYKS4ElIDycneiF9H9IOjwYsAaQ=w696-h1236-no?authuser=0" 
                alt="" height="250" width="175"> -->
            <img class="tampaGame" src="/photos/alienWbeer.jpg" 
                alt="">
        </div>
    </div>

    <div id="container">
        <div class="aboutCard" style="padding: 1em; justify-content: center; ">
            <p>&#x276C;Pyramids were not built in a day&#x276D;</p>
        </div>
    </div>
    </div>
<!-- table > tr > td*3 emmet code -->
   <div class="container">
        <div class="aboutCard" style="padding: 1em; justify-content: center;">
            <p>
                There was a moment of coding where everything made sense <br>
                In that moment everything made sense <br>

            </p>
        </div>
    </div>

</div>
</div>