<% layout('layout/boilerplate') %>
<!-- These divs can be sections (same as div just different name) -->
<div id="container">
  <div class="card">
    <img
      class="Troy"
      src="https://photos.app.goo.gl/9rqXbyJ4gwH1YjmS9.jpg"
      alt=""
      height="400"
      width="300"
    />
    <h3>Circa Jan 2020</h3>
    <p><br />Photo of myself in the Netherlands</p>
  </div>
</div>

<div id="container">
  <div class="card1">
    <h3>THANK YOU FOR VISITING MY SITE</h3>
    <h4>&Dagger;</h4>
  </div>
</div>

<div id="container">
  <div class="card1">
    <h3>There is more I want to add here</h3>
  </div>
</div>

<script type="text/javascript" src="/javascripts/personalWebpage.js"></script>
