<% layout('layout/boilerplate') %>
<!-- These divs can be sections (same as div just different name) -->
<div class="home">
  <div class="container">
    <div id="troyBox">
      <!-- Regarding /, . and ..:
    The / symbol will always return the root of a filesystem or site.
    The single point ./ points to the same directory where you are.
    And the double point ../ will point to the upper directory, 
    or the one that contains the actual working directory. -->
      <img
        class="Troy"
        src="https://lh3.googleusercontent.com/zv_GEI-033A8xxleZRp_mOsbv17y1UpKoJfqa_iLg7OnpUou4wsUN5NmnJJfWtXjaUKZoPUuwdDCELfD5wgOMZQW88v8Jkik6pZvfdoSSjLLZWfkFKWN2X_E-y8nQGxDKAz5G00evVgurzUkFtQBOCouY5UuAPJUR3TWQfEOAqT4bKZYhAIs7Ig10yS720PzJ_DrKAhC6Im1LbCntiJoTOlTGQ8ohSsIWBzyba5ZvomijZeZ7ep48j49ymNNDmG83TzGihzHNkH8cSAhlGUpwZJeovvrs_xeAjOAG7cKZ70xn1uCDrVC-nWqz5_sx8jyKhrX9fsBlDLn8CzB-UutHt30sqdF93uLQJpjm97v2_-SyPlNG10dgZJA0W7zqK5y4UwbdyCsqWn7TUAeaiLmc3dXbvH1zC5uSxzcCkyN9_6F71N2cfWd71Q755o692UggeyQQD5vKgeTe_gM37CMZtOWY33ocLd-LhWO52JgSSJaRRmLRJ16DlbeSeFBXDT6mgKaI2y_fPYBQQv3Q8laGSFOEN7CSON5Sb5g5KURPJewboRJ7Dm_sgrVzRx1SBdqKGfnzQfLOFWLQ4VCi0AkipOGJhQ0L9bDbBtQTsw5zmiQEiBK3dDxqvWIag1pBMismhzQes-HgGppe2e8tB2a9ACKHGITLKWqmLjTdfkjET8wUpAcujusGolbOf6w9-_Ev-1PEiySvWhW0DjdZL2Y7MZ-utceHRMy_BVeEy3m3LtZdXn8kSzQU4wx_aXLUyE=w662-h1176-no?authuser=0"
        alt="Myself, Troy, standing in front of Wallace Tower in Scotland"
        height="500px"
        width="300px"
      />
      <h3 class="mt-4" style="color:beige;">Circa Jun 2022</h3>
      <p style="color:beige;"><br />Photo of myself in the Scotland</p>
    </div>

    <div id="troyBox">
      <div class="card1">
        <h3 class="my-3">Nice to see you visiting my site</h3>
        <h4>&Dagger;</h4>
      </div>
    </div>

    <div id="troyBox">
      <div class="card1">
        <!-- add a pick your adventure mini game here -->
        <p>
          Feel free to explore the area and see the various stuff on this page.
        </p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascripts/personalWebpage.js"></script>
